{% extends 'app/base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-between mt-5">
        <h1 class="display-4">Опубликованные тесты</h1>
        <div class="d-flex flex-row align-items-end mb-2">
            <span class="mr-1"><strong>{{ user.username }}</strong></span>
            <a href={% url 'logout' %}>Выйти</a>
        </div>
    </div>
    <div class="list-group">
    {% if tests %}
        {% for test in tests %}
            <a  class="list-group-item list-group-item-action list-group-item-primary"
                href="{% url 'get_test' test.id %}">{{ test.theme }}</a>
        {% endfor %}
    {% else %}
        <p>Нет доступных тестов</p>
    {% endif %}
    </div>
{% endblock %}

